<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.magnus.laesomondo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogIn" />
        <activity android:name=".MainMenuUser" />
        <activity android:name=".ReadingTestPrerequisites" />
        <activity android:name=".ReadingTest" />
        <activity
            android:name=".SummaryPopUp"
            android:theme="@style/AppTheme.CustomPopUpTheme" />
        <activity android:name=".UserProfile" />
        <activity android:name=".TextFromNetAct"></activity>
    </application>

</manifest>